<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://db.onlinewebfonts.com/c/a17af96c10647b3403e18a0e94283536?family=Joystix" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <title>Twotris - Games</title>
</head>

<body class="bg-black text-white h-full relative">
    <div id="gamesList" class="w-full flex">
    </div>
    <br>
    <form action="/createGame" method="post">
        <div class="">
            <div class="">
                <label for="gameName" class="block text-sm font-medium">Nom de la partie</label>
                <input type="text" name="gameName" id="gameName" class="mt-1 mb-2 px-2 py-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm text-black border-gray-300 rounded-md">

                <label for="gameSize" class="block text-sm font-medium">Taille de la partie</label>
                <input required type="number" name="gameSize" id="gameSize" min="2" value="2" class="mt-1 mb-2 px-2 py-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm text-black border-gray-300 rounded-md">

                <label for="private" class="block text-sm font-medium">Private</label>
                <input type="checkbox" name="private" id="private" class="mt-1 mb-2 px-2 py-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm text-black border-gray-300 rounded-md">
            </div>
            <button id="submit" type="submit" class="inline-flex justify-center py-2 px-4 mt-4 md:mt-auto whitespace-nowrap border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Créer
            </button>
        </div>
    </form>
    <script src="./connect.js"></script>
    <script src="./gamesList.js"></script>
</body>

</html>