<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twotris - Params</title>
</head>

<body>
    <ul>
        <li>
            <p>down</p>
            <button onclick="changeKey(event)" id="downKey"></button>
        </li>
        <li>
            <p>left</p>
            <button onclick="changeKey(event)" id="leftKey"></button>
        </li>
        <li>
            <p>right</p>
            <button onclick="changeKey(event)" id="rightKey"></button>
        </li>
        <li>
            <p>place</p>
            <button onclick="changeKey(event)" id="placeKey"></button>
        </li>
        <li>
            <p>rotate</p>
            <button onclick="changeKey(event)" id="rotateKey"></button>
        </li>
        <li>    
            <p>hold</p>
            <button onclick="changeKey(event)" id="holdKey"></button>
        </li>
        <li>
            <p>pause</p>
            <button onclick="changeKey(event)" id="pauseKey"></button>
        </li>
    </ul>
    <script src="./params.js"></script>
</body>

</html>