<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://db.onlinewebfonts.com/c/a17af96c10647b3403e18a0e94283536?family=Joystix" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">
    <title>Twotris</title>
</head>

<body class="bg-black text-white h-screen w-screen px-12 py-8">
    <div class="flex flex-row justify-between">
        <h3 class="text-3xl font-semibold text-gray-500 font-joystix mb-2">Mode entraînement</h3>
    </div>
    <div class="flex inline-flex gap-x-4 justify-center w-full">
        <div>
            <div class="bg-gray-300 px-2 pt-1 w-full text-black font-joystix">HOLD</div>
            <div id="tetris-hold" class="grid grid-cols-5 h-auto mb-auto border-4 border-gray-300 p-4">
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
                <div class="h-8 w-8"></div>
            </div>
        </div>
        <div id="tetris-game" class="grid grid-cols-10 w-80 border-4 border-gray-700">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="flex flex-col gap-y-4">
            <div class="mb-auto">
                <div class="bg-gray-300 px-2 pt-1 w-full text-black font-joystix">NEXT</div>
                <div id="tetris-nextPiece" class="grid grid-cols-5 h-auto border-4 border-gray-300 p-4">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="leading-4">
                <span class="font-joystix text-gray-400">Points</span>
                <h1 id="score" class="text-5xl font-bold font-joystix">0</h1>
            </div>
            <div class="leading-4">
                <span class="font-joystix text-gray-400">Level</span>
                <h1 id="level" class="text-5xl font-bold font-joystix">1</h1>
            </div>
        </div>
    </div>
    <script src="./tetris.js"></script>
    <script src="./training.js"></script>
</body>

</html>